:root {
  --light: #2a3441;
  --dark: #14191f;
  --header: #fffde4;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  z-index: 9999;
}

h1 {
  color: var(--header);
  font-size: 3.5em;
}

input {
  background-color: var(--light);
  color: var(--header);
  border: none;
  appearance: none;
  font-size: 1.2rem;
}

button {
  color: var(--header);
  border-radius: 10px;
  font-weight: 310;
  appearance: none;
  font-size: 1.1rem;
  background-color: var(--light);
}

button:hover {
  border: 2px solid var(--header);
  transform: scale(0.9);
}

ul {
  font-size: 1.2rem;
  color: var(--header);
}

// App

// App
// Input
.input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Input
// Display
.display-container {
  display: flex;
  flex-direction: row;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.display-left-section {
  width: 100%;
  max-width: 200px;
  z-index: 10;
  height: 100%;
  min-height: 100px;
}

.left-bg-img {
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 4px solid var(--dark);
  border-radius: 30px;
}

.display-city {
  z-index: 10;
  margin-top: -2rem;
  margin-left: 1.5rem;
}

.display-right-section {
  margin-left: 1rem;
  width: 400px;
  height: 100%;
  min-height: 325px;
  background-color: var(--dark);
  border-radius: 20px;
}

.display-right-header {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  justify-content: center;
}

.display-right-content {
  display: flex;
  flex-direction: column;
}

.display-title {
  color: var(--header);
  font-size: 1.4rem;
}

.display-info {
  font-size: 1.2rem;
  color: var(--header);
}

// Display
