:root {
  --light: #2a3441;
  --dark: #14191f;
  --header: #fffde4;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: var(--light);
}

h1 {
  color: var(--header);
  font-size: 3.5em;
}

input {
  background-color: var(--light);
  color: var(--header);
  border: none;
  appearance: none;
  font-size: 1.2rem;
}

button {
  color: var(--header);
  border-radius: 10px;
  font-weight: 310;
  appearance: none;
  font-size: 1.1rem;
  background-color: var(--light);
}

button:hover {
  border: 2px solid var(--header);
  transform: scale(0.9);
}

// Display
.input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
// Display
